.col-xs-22 {{'LAVAMAIL.INBOX.LB_NO_PRIVATE_KEY_FOUND1' | translate}}
	div {{'LAVAMAIL.INBOX.LB_NO_PRIVATE_KEY_FOUND2' | translate}}
		a(ui-sref="main.settings.security") {{'LAVAMAIL.INBOX.LB_SETTINGS' | translate}}
		| {{'LAVAMAIL.INBOX.LB_NO_PRIVATE_KEY_FOUND3' | translate}}