.row.no-gutter.settings-panel.ng-cloak(ng-controller="CtrlSettingsSecurity")
	form.settings.col-xs-22.col-xs-offset-1.col-sm-20.col-sm-offset-2.col-md-12.col-md-offset-6.col-xs-22.col-xs-offset-1(name="__formChangePassword", ng-submit="__formChangePassword.$valid && changePassword()", novalidate, ng-autodisable)
		.form-wrap
			h4 {{'LAVAMAIL.SETTINGS.SECURITY.TITLE_CHANGE_PASSWORD' | translate}}
			ul.list-group
				li.list-group-item
					.text-control
						label {{'LAVAMAIL.SETTINGS.SECURITY.LB_CURRENT_PASSWORD' | translate}}
						input.form-control(type='password', name="oldPassword", ng-model="form.oldPassword", required)
						div.alert.alert-danger(ng-show="__formChangePassword.$submitted", ng-messages="__formChangePassword.oldPassword.$error", ng-messages-include="LavaMail/misc/validationMessages")
				li.list-group-item
					.text-control
						label {{'LAVAMAIL.SETTINGS.SECURITY.LB_NEW_PASSWORD' | translate}}
						input.form-control(type='password', name="password", ng-model="form.password", required, minlength="8", max-repeating="2", dictionary="/vendor/pw.dict", min-levenshtein-distance="3")
						div.alert.alert-danger(ng-show="__formChangePassword.$submitted", ng-messages="__formChangePassword.password.$error", ng-messages-include="LavaMail/misc/validationMessages")
					.text-control
						label {{'LAVAMAIL.SETTINGS.SECURITY.LB_CONFIRM_PASSWORD' | translate}}
						input.form-control(type='password', name="passwordConfirm", ng-model="form.passwordRepeat", required, match="form.password")
						div.alert.alert-danger(ng-show="__formChangePassword.$submitted", ng-messages="__formChangePassword.passwordConfirm.$error", ng-messages-include="LavaMail/misc/validationMessages")
					.text-control.btn-control
						button.btn.btn-block.btn-primary(type="submit") {{'LAVAMAIL.SETTINGS.SECURITY.BTN_CONFIRM' | translate}}
			ul.list-group
				li.list-group-item
					label {{'LAVAMAIL.SETTINGS.SECURITY.LAVABOOM_SYNC' | translate}}
					.control
						label.switch
							input(type='checkbox', ng-model="settings.isLavaboomSynced")
							i